.img_baner{
    /*ocupa el 100% del ancho de la pantalla*/
    /* background-size: cover; */
    
}

.control_icono:hover{
    background-color: #58036530;
    
}

.control_icono{
    padding: 20px;
    background-color: #0000001a;
   
}


.borde_purple{
    background-color: #5a4091; /*fondo de la caja*/
    border-style: solid; /*borde con estilo grueso*/
    border-color: #ffffff; /*borde interno de la caja*/
    box-shadow: 0 0 0 10px #432382; /*borde externo de la caja*/
    border-width: 10px;
    padding: 15px;
    margin: 0 25% 0 25%; /*margen para centrar la caja*/
}

.btn{
    background-color: rgb(121, 115, 205);
    color: white;
}

.styletext{
    color: #ffffff;
    font-size: 38px;
    font-weight: 500;
}

.carousel-indicators{
    margin: 6px;
}

.aling_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}