@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url(../estilosplantilla/btn_social_media.css);
@import url(../estilosplantilla/navbar.css);
@import url(../estilosplantilla/baner.css);

body {
    /* color: #999999;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: 300;
    letter-spacing: 1.3px; */
}


html, body{
	height: 100%;
}




